/**/
body {
  background-color:#fae3d9;
  font-size: 9.5pt;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
  background-color: #ffb6b9;
  color: darkblue; 
  font-family: 'Times New Roman', Times, serif;
}
h2 {
  text-align: center;
  font-size: 18px;
  height: 10px;
  color: darkblue;
}
h3 {
  font-size: 18px;
  height: 8px;
  color: darkblue;

}

label {
  display: block;
  float: left;
  text-align: right;
  width: 22%;
}

input {
  width: 75%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#button {
  text-align: center;
  font-size: 10pt;
}

.btn {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12pt;
  height: 5ex;
  width: 7em;
  border-radius: 10px;
  color: white;
  background-color: #8ac6d1;
}
.btn2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
   margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12pt;
  height: 5ex;
  width: 20em;
  border-radius: 10px;
  color:  white;
  background-color: tomato;
}

#message {
  border-style: solid;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-color: grey;
}

table {
  border-collapse: collapse;
}

th, td {
  border: solid;
}

td.num {
  text-align: right;
}
