/**/
body {
  background-color:wheat;
  font-size: 10pt;
}
h1 {
  background-color: skyblue;
  
}

label {
  display: block;
  float: left;
  text-align: right;
  width: 20%;
}

input {
  width: 75%;
}

#button {
  text-align: center;
  font-size: 10pt;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14pt;
  height: 4ex;
  width: 5em;
  border-radius: 10px;
  color: white;
  background-color: gray;
}

#message {
  border-style: solid;
  border-color: grey;
}

table {
  border-collapse: collapse;
}

th, td {
  border: solid;
}

td.num {
  text-align: right;
}
